html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1em;
  background-color: black;
  color: white;
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
}

#main {
  height: inherit;
  width: inherit;
}

#draw {
  height: inherit;
  width: inherit;
}
