@font-face {
  font-family: sevastapol;
  src: local("sevastapol"), url("../fonts/sevastapol.ttf") format("truetype");
}

$loginBack: #05f724;
$loginColor: #000000;
$secondLoginColor: #02c45a;
$backColor: #011d00;

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1em;
  background-color: $backColor;
  font-family: sevastapol;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#main {
  height: 48em;
  width: 64em;
}

#login {
  padding-top: 14em;

  #loginBox {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-size: 8em;
    color: $loginColor;
    background-color: $loginBack;
    text-align: center;
    padding-top: .2em;
    padding-bottom: .5em;
  }
}

#loading {
  width: inherit;
  height: inherit;
}

#loggedInLoading {
  padding-top: 7em;
  color: $secondLoginColor;
  font-size: 2em;
  text-align: center;

  span {
    display: block;
  }

  #loadingBar {
    margin-top: 10em;
  }

  .logo {
    font-size: 4em;
    font-style: italic;
  }

  .subLogo {
    margin-left: 10em;
  }

  .outerBar {
    border: 1px solid $secondLoginColor;
  }
}


.hide {
  display: none;
}

.thinner {
  -webkit-font-smoothing: antialiased;
}
