<!doctype html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:url" content="https://thethirdgift.com" />
    <meta property="og:title" content="The Third Gift projects" />
    <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <title>The Third Gift Games</title>
  </head>
  <body>
    <div id="main">
      <div id="thirdgift">
        <span class="verticalTitle">THE THIRD GIFT</span>
        <section>
          <header><h1>THE THIRD GIFT</h1></header>
          <p>You can find sources for my projects at <a href="https://github.com/yxeri" target="_blank">Github</a>
           and you can reach me through thethirdgift[a]icloud.com or <a href="https://twitter.com/Yxeri" target="_blank">@yxeri</a>.</p>
          <p>Help support future development through <a href="http://patreon.com/yxeri">Patreon</a>.</p>
        </section>
      </div>
      <div id="roleTerminal">
        <span class="verticalTitle">ROLETERMINAL</span>
        <section>
          <header><h1>ROLETERMINAL</h1></header>
          <p>roleTerminal is a web application that acts as a in-game game/tool for live action roleplaying and roleplaying events.</p>
          <p>It has been successfully used at several Swedish LARP events, such as <a href="http://www.bbreloaded.se" target="_blank">Blodsband Reloaded</a> and
          <a href="http://www.ockultamedborgarbyran.com" target="_blank">Ockulta Medborgarbyrån</a></p>
          <p>You can try it out yourself <a href="http://devbbrterminal.thethirdgift.com" target="_blank">here</a>.
          The project is open source and the code is available at <a href="https://github.com/yxeri/roleTerminal" target="_blank">Github</a></p>
          <article id="howto">
            <header><h2>How to</h2></header>
            <section>
              <article>
                <h3>Shortcuts</h3>
                <p>Page up/down or ctrl+arrow up/down scrolls the view on desktops. Arrow up/down allows you to go through commands that you have previously used. Tab/double space auto-completes commands (see topic further down)</p>
                <p>ctrl+u will turn on full screen on desktops. ctrl+d is a shortcut for the logout command (see topic further down)</p>
                <h3>Help</h3>
                <p>Input "help" to get tips, instructions and available commands. Pressing the tab button, or space twice on touch interfaces, has the same effect.</p> 
                <p class="example">help</p>

                <p>Input "help" followed by the name of the command to get instructions for a specific command</p>
                <p class="example">help login</p>

                <h3>Run command</h3>
                <p>You can either press the enter key or press the EXEC, short for execute, button on the top left to run commands.</p>

                <h3>Register account</h3>
                <p>Input "register" followed by your user name and press the Enter key. 
                  Note that your name can have a max length of 6 characters and/or numbers. You will be asked to choose a password and to repeat it. 
                  The password will not be shown on the screen while you type it.</p>
                <p class="example">register abrams</p>

                <h3>Logging in and out</h3>
                <p>Input "login" followed by your user name to log in. You will be asked for your password. When you are done you will get a message telling you that you are logged in.</p>
                <p class="example">login abrams</p>

                <p>NOTE! You have to use “logout” command to log out of your account after using it on a public terminal. Input “logout” to log out. You can also use the shortcut ctrl+d</p>
                <p class="example">logout</p>
                
                <h3>Messages</h3>
                <p>Input in "msg"" followed by your message.</p>
                <p class="example">msg Hello, world!</p>

                <p>Messages that are retrieved have more information than just the message itself. 
                  Starting from the left, you will see the time of when the message was sent, to which room it was sent, by whom and the actual message.</p>
                <p class="example">08:00 public> nava: Hello</p>

                <h3>Private message</h3>
                <p>Input "whisper"" followed by the user you want to send a private message to. You can also click on the user's name instead of manually typing the command.</p>
                <p class="example">whisper beta Hello!</p>

                <h3>History</h3>
                <p>Input “history” to retrieve old messages from all your rooms. You can specify how many messages you want to retrieve and if you want to retrieve messages from a specific room. 
                  Input “history public 100” to retrieve the 100 latest messages sent to the room “public.”</p>
                <p class="example">history</p>
                <p class="example">history public 100</p>

                <h3>Archives</h3>
                <p>Archives containt in-game documents written by organisers and/or players. Input "archives list" to see a list of available public documents.
                  Input "archives" followed by the ID of the document you want to read.</p>
                <p class="example">archives list</p>
                <p class="example">archives 55GCZ12</p>

                <h3>World map</h3>
                <p>Input in "map on" to view the map. This zooms the map in on our current area. Input “map on overview” to show all the available points on the world map.</p>
                <p class="example">map on</p>
                <p class="example">map on overview</p>

                <p>The cross icon indicates a stationary point, such as a settlement or base. The vertical line icon represents you. The horizontal line icon represents other users. 
                  The 3 horizontal lines icon represents your team members</p>

                <p>Input "map locate" followed by a user name to locate that user on the map. The map will zoom in on the users location (if the user is found)</p>
                <p class="example">map locate mina</p>

                <p>You can zoom in/out an drag the map view around with your touch interface. You can also use options "zoomin/zoomout" to do the same. Input "map zoomin" or "map zoomout"</p>
                <p class="example">map zoomin</p>
                <p class="example">map zoomout</p>

                <h3>Map info</h3>
                <p>You can read the full description for a point if you input "map info" followed by the number of the point. You can also click on a point to read its description.</p>
                <p class="example">map info 42</p>

                <h3>Expanding the map view</h3>
                <p>Clicking on EXPAND/COLLAPSE in the top menu when the map is open will epxand/collapse the map view.</p>
                <p class="example">EXPAND =&#62;</p>
                <p class="example">COLLAPSE &#60;=</p>

                <h3>Turning off the map</h3>
                <p>Input "map off" to turn off the map.</p>
                <p class="example">map off</p>

                <h3>Following and unfollowing rooms</h3>
                <p>Input "follow" followed by the name of the room. You will be asked to input a password. Leave it blank if the room has no password.
                  You can follow as many rooms as you want. Messages sent to the rooms you follow will be shown in your feed. Input "unfollow" followed by the name of the room to unfollow a room</p>
                <p class="example">follow room21</p>
                <p class="example">unfollow room21</p>

                <h3>Switching rooms</h3>
                <p>Input "room" followed by the name of the room. This will now become your default room, the room that the messages you send will be sent to. You will still retrieve messages from all your followed rooms 
                  Your default room is shown on the bottom left, right above your input</p>
                <p class="example">room room21</p>

                <h3>User information</h3>
                <p>Input "whoami" to show you which user you are logged in as, the rooms you follow and other info</p>
                <p class="example">whoami</p>

                <h3>Auto-complete</h3>
                <p>You don't have to input all commands manually. Try typing "hi" and press tab (or double space on touch devices). That "hi" should have turned into "history" by itself.</p>
                <p>If there are more than one command that starts on a letter all of them will be shown. Try typing in "r" and press tab (or double space on touch devices).</p>

                <h3>Create room</h3>
                <p>Input "create room" followed by the name of the room. You will be prompted to input a password. Leave it empty if you don't want to password protect your room</p>
                <p class="example">create room rr2</p>
                <p>You can use "invite room" followed by user name and room name to invite a user to a room you are following. They can accept the invitation with "invitations"</p>
                <p class="example">invite room user1 rr2</p>
                <p class="example">invitations</p>

                <h3>Teams</h3>
                <p>You can create teams. Everyone who is part of the same team will automatically follow the same team room (called "team"). Your team members will also show up as unique icons on the map.</p>
                <p>Input "create team" followed by the name of the team. Follow the instructions on the screen</p>
                <p class="example">create team</p>
                <p>Input "invite team" followed by the name of the user that you want to invite to the team.</p>
                <p class="example">invite team abrams</p>
                <p>The invited user can accept the invitation by typing "invitations" and following the instructions</p>
                <p class="example">invitations</p>

                <h3>Radio</h3>
                <p>You can listen in on audio streams or files.</p>
                <p>Input "radio list" to see available streams and files. Input "radio on" followed by the ID of the file (the ID is within [] on each row). Input "radio off" to turn the audio off.</p>
                <p class="example">radio list</p>
                <p class="example">radio on ra1</p>
                <p class="example">radio off</p>
              </article>
            </section>
          </article>
          <article id="hacklantern">
            <header><h2>Opening the Ark</h2>
            <section>
              <article>
                <h3>LANTERNs</h3>
                <p>There will be multiple physical LANTERNs that will help the different factions open the Ark. 
                  The signal from these nodes can be amplified or dampened with the hacklantern command.</p>
                <p>hacklantern allows anyone with access to the terminal to be part of the hunt for the Ark and decide the victor.</p>
                <p>Clicking on LANTERN in the top menu or typing "lantern on" will show you information about the points. Clicking on the status windows or typing "lantern off" will hide it.</p>
                <p class="example">lantern on</p>
                <p class="example">lantern off</p>
                <h3>hacklantern usage</h3>
                <p>You start it up by running hacklantern. The goal of the command is to find a user and password combination that has access to the lantern. Start by selecting which station you want to access</p>
                <p>You should now see a user name followed by several password hints. You will have to remember these, as they give clues as to which password is the correct one</p>
                <p>The two next steps will show you blobs of text. You will have to use the hints from the user to figure out which of the words in the blobs is the correct password.
                  The correct password will be shown in BOTH blobs</p>
                <p>You will now be asked to input the correct user and password and choose if you want to amplify or dampen the signal to the lantern. Congratulations! You have just made a new friend/enemy!</p>
                <p class="example">You see two users, user1 and user2. user1 has the hint "password starts with pi." user2 has the hints "password starts with pi" and "password ends with za." 
                  You look through the memory dumps and find the word "pilot" in one of the memory dump. Even though it fits with the hint for user1 it was not in both memory dumps and is thus not the correct password. 
                  You find the word "pizza" in both memory dumps. The hints from user2 fits with the word, thus you choose to input user2 and "pizza" as the correct user and password. Yay! It worked!
                  </p>
                <h3>The hunt</h3>
                <p>There are 4 rooms that you can follow, named lantern1, lantern2, lantern3, and lantern4. They correspond to each LANTERN in the game.</p>
                <p>The rooms will receive notifications each time a person amplifies/dampens the signal. If you follow the rooms you will be able to quickly see who your new allies/enemies are.</p>
              </article>
            </section>
          </article>
          <article id="preparation">
            <header><h2>Settings and requirements</h2></header>
            <section>
              <article>
                <h3>Data usage</h3>
                <p> The application is very lightweight. The map parts are downloaded from Google when you scroll around and zoom in/out. It drains as much as visits to Google Maps do, which isn't much.</p>
                <p>Using the radio command will drain more, as it is a continual audio stream. The amount depends on the bitrate.</p>
                <h3>Tracking</h3>
                <p>The application uses your location to add to the game map and allow others to see it. You should see a small pop-up asking you to allow it to access your location information. 
                  Your location will only be tracked when you are using the application and only your latest location will be stored and sent to all other users connected</p>
                <p>This is part of the game. It will be a lot more fun for both you and other players if you allow it to track you while using the application.</p>
                <h3>Partially obstructing frame</h3>
                <p>Is your screen partially obstructed by a frame? Run "settings thinnerview on" to add some margin to the top, left and right sides. Running the same command but with off will remove the margin</p>
                <h3>Not using a mouse/touch interface?</h3>
                <p>Run "settings hiddencursor on" in the terminal to hide the cursor. Run "settings hiddenmenu on" to hide the clickable top menu. Run the same commands but with off to show the cursor/menu.</p>
                <h3>Desktop/Laptop</h3>
                <p>It works in Chrome. It might work in Firefox. Full screen does not work in Safari.</p>
                <h4>Full screen</h4>
                <p>Click on any text or use the shortcut ctrl+u. It should automatically expand to full screen.</p>
                <h4>Raspberry Pi</h4>
                <p>Iceweasel is recommended as a browser replacement for Chrome</p>
                <h3>Apple iOS</h3>
                <p>The application has been tested on iOS 7 and higher, on iPad and iPhone. Use Safari.</p>
                <h4>Full screen</h4>
                <p>Safari does not support full screen through normal means. You have to visit the site in Safari, add it to your home screen and run it from there. 
                  See <a href="http://lifehacker.com/5809338/add-web-site-bookmarks-to-your-iphones-homescreen" target="_blank">this guide on Lifehacker</a> on how to add it to your home screen</p>
                <h3>Android</h3>
                <p>The application has been tested on different version of Android 4, 5 and 6. It will not work on Android 2. Use Chrome.</p>
                <h4>Full screen</h4>
                <p>Click on any text. It should automatically expand to full screen.</p>
              </article>
            </section>
          </article>
        </section>
      </div>
      <div id="wallOfFame">
        <span class="verticalTitle">WALL&nbsp;OF&nbsp;FAME</span>
        <section>
          <header><h1>WALL&nbsp;OF&nbsp;FAME</h1></header>
          <article>
            <header>Contributors</header>
            <h2>Main Developer</h2>
            <ul>
              <li>Aleksandar Jankovic [<a href="https://github.com/yxeri" target="_blank">Github</a>] [<a href="https://twitter.com/Yxeri" target="_blank">@yxeri</a>] [thethirdgift[a]icloud.com]</li>
            </ul>
            <h2>Development Contributors</h2>
            <ul>
              <li>Stanislav [<a href="https://github.com/stanislavb" target="_blank">Github</a>]</li>
              <li>Sebastian Streiffert</li>
            </ul>
            <h2>Supporters</h2>
            <ul>
              <li>A big thank you to all of you who chose to support my projects through Patreon!</li>
            </ul>
          </article>
        </section>
      </div>
    </div>
    <div id="secondary">
      <span>Created by Aleksandar J [<a href="https://twitter.com/Yxeri" target="_blank">@yxeri</a>] [<a href="https://github.com/yxeri/thethirdgift-site" target="_blank">source</a>]</span>
    </div>
    <script src="scripts/bundle.min.js" charset="utf-8"></script>
    <noscript>
      <style>
        html, body {
          overflow: auto;
        }
        #main {
          display: inline;
        }
        #main div {
          width: 100%;
          max-width: 70em;
          cursor: default;
        }
        #main div span {
          display: none;
        }
        #main div section {
          display: inline;
        }
      </style>
    </noscript>
  </body>
</html>
