<!doctype html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:url" content="https://thethirdgift.com" />
    <meta property="og:title" content="The Third Gift projects" />
    <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <title>The Third Gift Games</title>
  </head>
  <body>
    <div id="main">
      <ul>
        <li><h1>The Third Gift Games presents: Rolehaven - The larp companion app</h1></li>
        <li>Rolehaven is an initiative to create a universal app platform that can easily be used in any type of larp.</li>
        <li>The project is open source and available at Github: <a href="https://github.com/yxeri/roleHaven" target="_blank">backend</a>.</li>
        <li><h2>Try it out!</h2></li>
        <li>You can try out the some versions of the app that were used on previous events at:</li>
        <li><a href="https://bbrterminal.thethirdgift.com" target="_blank">Blodsband Reloaded</a> (Mad Max everything goes style). Works on: phones, desktop with Chrome.</li>
        <li><a href="https://tales.thethirdgift.com" target="_blank">Tales from the Sprawl</a> (cyberpunk, Shadowrun). Works on: phones, desktop with Chrome.</li>
        <li><h2>Getting the latest updates</h2></li>
        <li>You can get semi-regular updates about the project at <a href="https://www.facebook.com/thethirdgiftgames/" target="_blank">Facebook</a> or <a href="http://patreon.com/yxeri" target="_blank">Patreon</a>.</li>
        <li><h2>Help out!</h2></li>
        <li>The project is kept alive by your donations. <a href="http://thethirdgift.com/helpout" target="_blank">Any help, no matter how small, makes a difference and is appreciated!</a></li>
        <li><h2>Contact</h2></li>
        <li>You can reach me at <a href="http://facebook.com/Paushikidar" target="_blank">Facebook</a> or mail (aleks@thethirdgift.com).</li>
        <li><h2>Prolog/Knutpunkt 2018</h2></li>
        <li><a href="http://slides.com/yxeri/deck" target="_blank">Slides for the presentation</a>.</li>
        <li><h2>Experimental stuff</h2></li>
        <li><a href="https://thethirdgift.com/alien" target="_blank">Alien (movie) MU-TH-UR</a>. Works on: desktop.</li>
        <li><a href="https://thethirdgift.com/sevastolink" target="_blank">Alien: Isolation (game) Sevastolink</a>. Works on: desktop.</li>
        <li><a href="https://thethirdgift.com/animation" target="_blank">Line for line text reprint</a>. Works on: phones, desktop.</li>
        <li><a href="https://thethirdgift.com/video" target="_blank">Youtube video loader</a>.</li>
        <li><h2>Blodsband Reloaded - Guides on how to use the terminal before and during the event</h2></li>
        <li>Basic and more advanced guides on how to use the system can be found at: <a href="https://thethirdgift.com/instructions" target="_blank">Instructions on how to use the application</a>.</li>
        <li>Instructions on how to prepare your phone/tablet/computer are available at: <a href="https://thethirdgift.com/preparation" target="_blank">System requirements and preparation for in-game usage</a>.</li>
      </ul>
    </div>
  </body>
</html>
