<!doctype html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:url" content="https://thethirdgift.com" />
    <meta property="og:title" content="The Third Gift projects" />
    <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <title>The Third Gift Games</title>
  </head>
  <body>
    <div id="main">
      <ul>
        <li><h1>The Third Gift Games presents: Rolehaven - The larp companion app</h1></li>
        <li>Rolehaven is an initiative by Carmilla Mina Jankovic to create a universal app platform that can easily be used in any type of larp.</li>
        <li><h2>Try it out!</h2></li>
        <li>You can try out the some versions of the app that were used on events at:</li>
        <li><a href="https://terminal.thethirdgift.com" target="_blank">Blodsband Reloaded</a> (Mad Max everything goes style). Works on: phones, desktop with Chrome.</li>
        <li><h2>Getting the latest updates</h2></li>
        <li>You can get semi-regular updates about the project at <a href="https://www.facebook.com/thethirdgiftgames/" target="_blank">Facebook</a> or <a href="http://patreon.com/yxeri" target="_blank">Patreon</a>.</li>
        <li><h2>Help out!</h2></li>
        <li>The project is kept alive by your donations. <a href="http://thethirdgift.com/helpout" target="_blank">Any help, no matter how small, makes a difference and is appreciated!</a></li>
        <li><h2>Contact</h2></li>
        <li>You can reach me, Carmilla, at <a href="http://facebook.com/Paushikidar" target="_blank">Facebook</a> or mail (carmilla@thethirdgift.com).</li>
        <li><h2>Open source</h2></li>
        <li>The project is open source and available at Github: <a href="https://github.com/yxeri/roleHaven" target="_blank">backend</a>.</li>
        <li><h2>TTGG creations have been used at</h2></li>
        <li><a href="http://grumsbynight.wordpress.com" target="_blank">Grums By Night</a></li>
        <li><a href="http://greenwars-aftermath.com" target="_blank">Green Wars Aftermath</a></li>
        <li><a href="https://www.bbreloaded.se" target="_blank">Blodsband Reloaded</a></li>
        <li><a href="http://talesfromthesprawl.se" target="_blank">Tales from the Sprawl</a></li>
        <li><a href="http://wall2061game.com" target="_blank">Wall 2061</a></li>
        <li><a href="https://flaglarp.wordpress.com/" target="_blank">Fight Like a Girl</a></li>
        <li><a href="http://beratta.org/sommarland/" target="_blank">Sommarland</a></li>
        <li><a href="http://beratta.org/vinterland/" target="_blank">Vinterland</a></li>
        <li>Ockulta Medborgarbyrån</li>
        <li>Rex</li>
      </ul>
    </div>
  </body>
</html>
