<!doctype html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:url" content="https://thethirdgift.com/instructions" />
  <meta property="og:title" content="The Third Gift projects" />
  <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
  <link rel="stylesheet" type="text/css" href="styles/textFiles.css"/>
  <title>The Third Gift Games</title>
</head>
<body>
  <section id="main">
    <header><h1>Instructions [TTGG]</h1></header>
    <section>
      <header><h2>Creators</h2></header>
      <p>This system was created and is maintained by Aleksandar Jankovic as the main developer. It is a standalone project that organisers choose to incorporate into their event.</p>
      <p>You can find more information at <a href="https://www.patreon.com/yxeri" target="_blank">Patreon.</a> Any questions about the system should be sent to <span class="m">aleksonline@icloud.com</span>. Any questions about the event should be sent to its organisers.</p>
    </section>
    <section>
      <header><h2 class="hide">Usage instructions</h2></header>
      <p>You'll find information on how to use the application below. Are you bringing your own computer/laptop/phone? You should also read up on <a href="https://thethirdgift.com/preparation.html" target="_blank">requirements and preparation</a></p>
      <section class="topSection">
        <header><h3>Svenska</h3></header>
        <p>Nedan kan ni läsa om hur ni använder de olika delarna i applikationen. The Super Quick Guide är en bra start för nybörjare.</p>
        <section class="topSection">
          <header><h4>The Super Quick Guide AKA "Appen verkar komplicerad. Ge mig en snabb genomgång"</h4></header>
          <p>Den första sidan ni kommer till är HOME. Den har flertalet knappar som leder till andra vyer.</p>
          <p>På toppen av sidan ser ni en rad med information, som innehåller bland annat dagens datum in-game. Om ni klickar på den raden så kan ni komma tillbaka till HOME från andra vyer.</p>
          <article class="topArticle">
            <header><h5>Läsa meddelanden</h5></header>
            <p>Klicka på CHAT. Ni borde nu se alla meddelanden som skickats till det publika chatrummet.</p>
            <p>Ni kommer behöva registrera en användare om ni vill skicka eller läsa meddelanden från andra chatrum.</p>
          </article>
          <article class="topArticle">
            <header><h5>Läsa dokument</h5></header>
            <p>Klicka på FILES. Ni borde nu se två knappar på vänstra sidan</p>
            <p>Om ni klickar på SYSTEM så kommer ni se det nya alternativet ID SEARCH. Den tillåter er att skriva in ett dokument-ID (kod) och låsa upp och läsa ett dokument.</p>
            <p>Om ni klickar på DIRECTORY som kommer den expandera och visa USERS och TEAMS. Om ni klickar på någon av dem så kommer team- och användarnamn listas. Om ni klickar på någon av dem så kommer ni se en lista med deras dokument</p>
            <p>Knapparna som är gråade är låsta och kräver korrekt ID för att låsas upp. Resten är publika dokument som ni kan läsa utan ID.</p>
          </article>
          <article class="topArticle">
            <header><h5>Hitta i världen</h5></header>
            <p>Om ni klickar på MAPS så kommer ni se en karta. Ni kommer även se en meny på toppen med LOCAL, WORLD, USER och ME</p>
            <p>LOCAL kommer visa er lista med positioner som är inom spelområdet. Om ni klickar på något av dem så kommer kartan zooma in på positionen</p>
            <p>WORLD kommer visa er lista med med positioner som är utanför spelområdet. Om ni klickar på något av dem så kommer kartan zooma in på positionen</p>
            <p>ME zoomar in på din position. Den kommer inte zooma in om appen inte lyckades hämta er position.</p>
          </article>
          <article class="topArticle">
            <header><h5>Se hur det går med wreckingen</h5></header>
            <p>När en wreckingrunda är igång så kommer ni se en färgad knapp i toppmenyn som heter WRECKING.</p>
            <p>Om ni klickar på den så kommer ni se en ny ruta. I den vänstra delen visas alla stationer. Varje station består av ett namn, hur mycket poäng ägaren av stationen får och vem som äger stationen).</p>
            <p>En blinkade station indikerar att den stationen håller på att tas över av ett annat team.</p>
            <p>Till höger ser ni vilka team som är med i wreckingen och hur många poäng de har totalt.</p>
          </article>
          <article class="topArticle">
            <header><h5>Off-gamey stuff</h5></header>
            <p>Om ni klickar på SUPPORT så kommer ni se ett par olika saker.</p>
            <p>På högra sidan ser ni RUMOURS. Rumours är rykten som skapats off-game med syftet att skapa mer spel.</p>
            <p>På vänstra sidan ser ni en lista med knappar med information om hur delar av appen fungerar. Ni måste registrera en användare för att använda de flesta av funktionerna som beskrivs där.</p>
          </article>
          <article class="topArticle">
            <header><h5>Åtkomst till allt annat</h5></header>
            <p>Några av funktionerna som är tillgängliga i appen är: Hacking, tjäna virtual caps genom att slutföra uppdrag eller stjäla loot codes, skicka och läsa meddelanden till andra chatrum eller användare, skapa egna dokument och skapa rykten.</p>
            <p>Ni måste registrera en användare för att få tillgång till dem.</p>
          </article>
          <article class="topArticle">
            <header><h5>I need to go deeper</h5></header>
            <p>För att registrera en användare så klickar ni på "LOGIN." Där kan ni skriva in ett användarnamn och lösenord. När ni gjort det så klickar ni på "[R]egister" Ni ser då tre nya fält.</p>
            <p>Det första nya fältet ber dig att skriva in ditt lösenord igen. I de två sista fälten skriver ni in er mailaddress. Klicka på "[R]egister" igen när allt är ifyllt!</p>
            <p>Ni kommer inom ett kort tag få ett mail med instruktioner om hur ni aktiverar er användare. När ni aktiverat användaren så kan ni klicka på LOGIN igen, fylla i ert användarnamn och lösenord och klicka på [L]ogin.</p>
            <p>Grattis! Ni är nu en terminalanvändare!</p>
          </article>
        </section>
        <section class="topSection">
          <header><h4>Skapa spelmöjligheter</h4></header>
          <p>Det finns ett antal olika verktyg som kan användas för att både expandera världen och skapa spelmöjligheter för både dig och andra.</p>
          <p>Funktionerna som beskrivs nedan kräver att ni registerar en användare.</p>
          <article class="topArticle">
            <header><h5>Skapa lootbara koder</h5></header>
            <p>Om ni går in på SUPPORT så kommer ni se SYSTEM till vänster. Om ni klickar på den så kommer ni se alternativet CREATE LOOT CODES</p>
            <p>Den låter er skapa en kod på 8 siffror. Ni kan se alla koder ni skapat under CODES till vänster.</p>
            <p>Denna kod kan användas av andra för att "loota" virtuella caps från ditt konto. Koden kan endast användas en gång och kommer försvinna från CODES om den använts.</p>
            <p>Koden används i PROGRAMS via CREDSCRACKER. När koden använts kommer en transaktion att stoppas in under WALLET. Där kan ni se vem som stulit caps från dig (och den som använder koder ser vem denne stal ifrån)</p>
          </article>
          <article class="topArticle">
            <header><h5>Sprid rykten</h5></header>
            <p>Om ni går in på SUPPORT så kommer ni se SYSTEM till vänster. Om ni klickar på den så kommer ni se alternativet CREATE RUMOUR</p>
            <p>De rykten ni skapar kommer att dyka upp till höger och kan läsas av alla deltagare.</p>
            <p>Tanken är att ni där kan sprida rykten som andra spelare kan agera på. Det är en digital version av vad som ofta kallas "dassrykten"</p>
          </article>
          <article class="topArticle">
            <header><h5>Skapa chatrum</h5></header>
            <p>Om ni går in på CHAT så kommer ni se SYSTEM till vänster. Om ni klickar på den så kommer ni se alternativet CREATE ROOM.</p>
            <p>När ni skapar rummet så kan ni sätta ett lösenord på det. Fyll rummet med meddelanden (hemlig information, del av en skattjakt eller annat) och gör så att andra deltagare på något sätt kan få tag på lösenordet.</p>
            <p>Det är även möjligt att skapa chatrum som inte är skydda med ett lösenord.</p>
          </article>
          <article class="topArticle">
            <header><h5>Skapa dokument</h5></header>
            <p>Om ni går in på FILES så kommer ni se SYSTEM till vänster. Om ni klickar på den så kommer ni se alternativet CREATE FILE.</p>
            <p>Ni kan då skapa ett dokument. Varje dokument kan vara publikt eller skyddat med ett ID/kod.</p>
            <p>De dokument ni skapar kommer att synas för alla andra deltagare. Om ni väljer att skydad dokumentet så kommer det fortfarande synas i listan över dokument, men den kommer kräva att de som vill läsa det stoppar in korrekt ID/kod.</p>
            <p>Se till att få ut ID:t, om ni väljer att skydda det, i spel och låt andra deltagare ha chansen att hitta det.</p>
            <p>Dokumenten kan även redigeras efter att det skapats (förutom dess ID).</p>
          </article>
          <article class="topArticle">
            <header><h5>Dela din position</h5></header>
            <p>När ni besöker appen så kommer den fråga om ni vill dela med dig av din position. Om ni delar er position så kommer den synas på kartan för alla andra deltagare (och visa vart ni är).</p>
            <p>Om ni går in på MAPS så kommer ni toppmenyn se USERS. Om ni klickar på den så kommer en lista med användare expanderas, där ett klick på ett användarnamn kommer zooma in på användarens position.</p>
            <p>Ikonen för användare är en cirkel med två vertikal streck. Om ni klickar på den så kommer ni dess användarnamn och när deras position senast uppdaterades.</p>
            <p>Det finns möjlighet att sätta en statisk position för de datorer/mobiler/tablets som inte har en GPS. Ni hittar det under SUPPORT -> SYSTEM -> SET STATIC COORDINATES.</p>
          </article>
          <article class="topArticle">
            <header><h5>Skapa och gå med i ett team</h5></header>
            <p>Om ni går in på TEAM så kommer ni se SYSTEM till vänster. Om ni klickar på den så kommer ni se alternativet CREATE TEAM.</p>
            <p>Efter att ni skapat ett team så kan ni bjuda in andra till det. Om användaren som blivit inbjuden går in på TEAM så kommer de till höger se inbjudan, som de kan välja att acceptera eller inte.</p>
            <p>När ni skriver ett chatmeddelanden så kommer alla andra användare se din grupptillhörighet.</p>
            <p>Ni får även en gemensam plånbok som kan användas av andra för att föra över pengar till er grupp eller låta er betala med gruppens plånbok. Användbart när ni vill ta betalt eller betala för "tjänster."</p>
            <p>Den gemensama plånboken hittar ni i WALLET. Där står det mängden av virtuella caps ni har. När ni skapar en ny transaktion så kan ni välja att använda gruppens pengar istället för dina egna.</p>
            <p>Alla gruppmedlemmar har även unika ikoner på kartan. Ikonen är en cirkel med ett T i. Om ni går in i MAPS så kan ni enklare urskilja positionen för gruppmedlemmar.</p>
            <p>Om ni är under attack så kan ni gå in i PANIC och skicka ut ett hjälp till andra gruppmedlemmar. Om ni väljer MUGGER WITH A GUN AND/OR KNIFE THAT HATES MY TEAM så kommer ett ping på kartan skickas till alla gruppmedlemmar. De kan se den på kartan.</p>
            <p>Vid skapandet av dokument i FILES så kan ni välja att stoppa in den i gemensama platsen för gruppens dokument. Även om ni väljer att stoppa in det där så kan alla gruppmedlemmar komma åt det, även om ni skyddat det med en kod/ID.</p>
            <p>I CHAT så kommer ni se ett rum under FOLLOWING som heter TEAM. Det är chatrummet som alla medlemmar automatiskt går med i.</p>
          </article>
          <article class="topArticle">
            <header><h5>Skicka anonyma meddelanden</h5></header>
            <p>Om ni går in på CHAT så kommer ni i listan till vänster se ANONYMOUS. Meddelanden skickade till den gruppen kommer inte visa ditt användarnamn.</p>
            <p>Där kan ni dumpa in valfri kryptiskt information och annat skoj.</p>
          </article>
          <article class="topArticle">
            <header><h5>Expandera världskartan</h5></header>
            <p>Ni kan vara med och expandera världskartan. De punkter ni ser på kartan hämtas från <a href="https://www.google.com/maps/d/viewer?mid=1j97gNHqYj-6M10RbW9CGAVNxUV4&hl=en_US&ll=59.74696928544842%2C15.202936717214925&z=16" target=_blank>den gemensamma kartan</a></p>
            <p>För att få tillgång till den så kan ni gå med i <a href="https://www.facebook.com/groups/585709954945167/" target=_blank>Facebook-gruppen.</a> De punkter ni lägger till i den gemensamma kartan kommer att hämtas in och vara synliga in-game.</p>
          </article>
          <article class="topArticle">
            <header><h5>Skapa alter egos</h5></header>
            <p>I SUPPORT -> SYSTEM till vänster hittar ni alternativet CREATE ALIAS. Det tillåter er att skapa ett alternativt användarnamn. Bara ni kommer kunna använda det alias ni skapar.</p>
            <p>Aliases används i chatten eller vid skapandet av dokument. Det låter er skicka meddelanden som om ni vore en annan karaktär under det alias ni skapat.</p>
            <p>Ni kommer få välja om ni vill skicka chatmeddelanden med ert vanliga användarnamn eller något av era aliases. Ni kan skifta mellan och se vilka aliases ni har i CHAT -> ALIASES till vänster.</p>
            <p>Ni har även tillgång till dem i FILES -> ALIASES. När ni börjar skapa ett dokument (CREATE DOCUMENT) så kan ni klicka på ett av era aliases och då sätta det namnet som skapare av dokumentet.</p>
          </article>
          <article class="topArticle">
            <header><h5>Skapa gemensamma files alter egos</h5></header>
            <p>I SUPPORT -> SYSTEM till vänster hittar ni alternativet CREATE FILES ALIAS. Det tillåter er att skapa ett alternativt användarnamn.</p>
            <p>File aliases använder när ni skapar dokument. Ni kan då välja att skapa ett dokument som on ni vore en annan karaktär.</p>
            <p>Denna typ av alias skiljer sig från den som även kan användas i chatten. File aliases kan skapas och användas av alla dina gruppmedlemmar. Den andra typen av alias är låst till en enda användare.</p>
            <p>Ni har tillgång till dem i FILES -> ALIASES. När ni klickat på CREATE DOCUMENT så kan ni klicka på ett alias i listan. Ett av fälten har nu uppdaterats med namnet. Det är namnet som kommer stå som skapare av dokumentet.</p>
          </article>
        </section>
      </section>
      <section class="topSection">
        <header><h3>English</h3></header>
        <p>Below you'll find instructions on how to use the different parts of the application. The Super Quick Guide is a good start for beginners.</p>
        <section class="topSection">
          <header><h4>The Super Quick Guide AKA "The app seems complicated. Show me the basics"</h4></header>
          <p>The first page you’ll see is HOME and it has several buttons that you can click that lead to other views.</p>
          <p>On the top you’ll also see a row with information, such as the current in-game date. Clicking on the top row will send you back to HOME when you are in another view.</p>
          <article class="topArticle">
            <header><h5>Reading messages</h5></header>
            <p>Click on CHAT. You should now see all messages that has been sent to the public chat room.</p>
            <p>You will have to register a user to send or read messages from other chat rooms.</p>
          </article>
          <article class="topArticle">
            <header><h5>Reading documents</h5></header>
            <p>Click on FILES. You should now see two new buttons to the left.</p>
            <p>Clicking on SYSTEM will show you a new button called ID SEARCH. You can enter a document ID (code) to unlock and read documents.</p>
            <p>Clicking on DIRECTORY will expand it and show you USERS and TEAMS. Clicking on any of them will show you a list of team or user names. Clicking on any TEAM or USER will show you a list of the documents that they have created.</p>
            <p>The buttons that are greyed out require that you enter the correct document ID when you click on them. The rest are public documents that you can open without an ID.</p>
          </article>
          <article class="topArticle">
            <header><h5>Find your way around the world</h5></header>
            <p>Clicking on MAPS will show you a map. You will also see a menu on the top with LOCAL, WORLD, USER, ME.</p>
            <p>LOCAL will show you a list of choices with locations that are within the game area. Clicking on any of them will zoom in on that position.</p>
            <p>WORLD will show you a list of choices with locations that are outside of the game area. Clicking on any of them will zoom in on that position.</p>
            <p>ME will zoom in on your location. It won’t zoom in if the app was unable to find your position.</p>
          </article>
          <article class="topArticle">
            <header><h5>Checking the status on the wrecking</h5></header>
            <p>You will see a colored button in the top with the name WRECKING when a wrecking round is in progress.</p>
            <p>If you click on it, you will see a new window. Available stations are shown on the left side. Each station contains a name, how many points the owner of the station get and its current owner.</p>
            <p>A blinking station indicates that it is being taken over by another team.</p>
            <p>On the right side is a list of wrecking teams and their total amount of points.</p>
          </article>
          <article class="topArticle">
            <header><h5>Off-gamey stuff</h5></header>
            <p>Clicking on SUPPORT will show you several different items.</p>
            <p>To the right you’ll see RUMOURS. This is a list of off-gamey rumours that other players have added to create more play.</p>
            <p>To the left is a list of buttons with helpful information about what you can do in the different parts of the system. You will have to register a user to use most of the features described.</p>
          </article>
          <article class="topArticle">
            <header><h5>Accessing everything else</h5></header>
            <p>Some of the things you can do in the application are: Hacking, earning virtual caps by completing missions or stealing loot codes, sending messages to chat rooms and other characters, creating your own documents and adding rumours</p>
            <p>You will need to register a user to access them.</p>
          </article>
          <article class="topArticle">
            <header><h5>I need to go deeper</h5></header>
            <p>Click on "LOGIN" to register a user. Input your new user name and password and click on "[R]egister" You should now see three new input fields.</p>
            <p>The first one will ask you to repeat your password. The last two ones will ask you to input your mail address. Fill in all of them and click on "[R]egister" again</p>
            <p>You should receive a mail with instructions on how to activate your user. As soon as your user is activated, uou can click on "LOGIN" again, input your user name and password and click on [L]ogin.</p>
            <p>Congratulations! You are now a terminal user!</p>
          </article>
        </section>
        <section class="topSection">
          <header><h4>Create play opportunities</h4></header>
          <p>There are a couple of tools that you can use to expand the world and create play for both you and others.</p>
          <p>The features require you to register a user.</p>
          <article class="topArticle">
            <header><h5>Create lootable codes</h5></header>
            <p>Click on SUPPORT and you should see SYSTEM to the left. Clicking on it will show you the option CREATE LOOT CODES</p>
            <p>It will allow you to create a code consisting of 8 numbers. You can see all your codes that you've created under CODES to the left</p>
            <p>These codes can be used by others to "loot" virtuel caps from your account. The code is one-time use and will disappear from the list when it has been used.</p>
            <p>The code is used in PROGRAMS with CREDSCRACKER. When the code is used a transaction will be created and will be shown in WALLET. You will be able to see who stole caps from you (and the one who used it will see who they stole from)</p>
          </article>
          <article class="topArticle">
            <header><h5>Spread rumours</h5></header>
            <p>Click on SUPPORT and you should see SYSTEM to the left. Clicking on it will show you the option CREATE RUMOUR</p>
            <p>The rumours you create will be shown to the right for all users.</p>
            <p>The purpose of rumours is to give other players something to act upon and makes it easier to access in-game.</p>
          </article>
          <article class="topArticle">
            <header><h5>Create chat rooms</h5></header>
            <p>Click on CHAT and you should see SYSTEM to the left. Clicking on it will show you the option CREATE ROOM</p>
            <p>You will have the option to protect the room with a password. Fill up the room with messages (secret information, part of a treasure hunt and similar) and allow other players to find the password in-game.</p>
            <p>A password-protected room will still show up in the list of rooms, but it will require players to insert the correct password. You can also create a room that isn't password-protected.</p>
          </article>
          <article class="topArticle">
            <header><h5>Create documents</h5></header>
            <p>Click on FILES and you should see SYSTEM to the left. Clicking on it will show you the option CREATE FILE</p>
            <p>You will have the option to create a document. Each document can be either public or protected with the correct ID/code.</p>
            <p>All created documents will be shown in the list to all players, even the protected ones. The protected files can only be opened with the correct ID.</p>
            <p>Make use to give players, if you choose to protect it, a chance to find it in-game.</p>
            <p>The document can be edited after it has been created (except for the ID).</p>
          </article>
          <article class="topArticle">
            <header><h5>Share your position</h5></header>
            <p>When you first visit the app it will ask you to share your position. If you share your position it will be shown to other players on the map (and also let you see where you are)</p>
            <p>Clicking on MAPS will show you a top menu with USERS. Clicking on it will show you a list of users. Choosing any of them will zoom in on the user's position.</p>
            <p>The icons for users on the map is a circle with two vertical lines. Clicking on it will show its user name and when their position was last updated.</p>
            <p>There is also an option to set a static position for computers/phones/tablets without an GPS. You can find it in SUPPORT -> SYSTEM -> SET STATIC COORDINATES.</p>
          </article>
          <article class="topArticle">
            <header><h5>Create and join a team</h5></header>
            <p>Click on TEAM and you should see SYSTEM to the left. Clicking on it will show you the option CREATE TEAM</p>
            <p>Creating a team will allow you to invite others. The one who gets invited should see an invitation in TEAM to the right, which they can accept or decline.</p>
            <p>All chat messages that you send will show others which team you are part of.</p>
            <p>You will also get a common wallet that all members can access. It is useful when your team get paied or pay for "services."</p>
            <p>The team wallet can be found in WALLET. You should now see the amount of caps available for the team. You can choose to use the caps from the team wallet instead of your own.</p>
            <p>All team members will get a unique icon on the map. The icon with a circle with a T inside. That makes it easier to separate team members from other positions.</p>
            <p>Clicking on PANIC will allow you to send a ping map to all other team members. Choose MUGGER WITH A GUN AND/OR KNIFE THAT HATES MY TEAM to send the ping to the rest of the team. It will appear on the map.</p>
            <p>You can choose to create a document that is added to the team list on the left side in FILES. All members will be able to access it, even if you choose to protect it with an ID/code.</p>
            <p>In CHAT there will be a new room called TEAM. The room is automatically followed by all team members.</p>
          </article>
          <article class="topArticle">
            <header><h5>Send anonymous messages</h5></header>
            <p>Click on CHAT and you should see a room called ANONYMOUS to the left. Any messages sent to the room will not show your user name to others</p>
            <p>You can dump whatever cryptic information or fun stuff to be used by others.</p>
          </article>
          <article class="topArticle">
            <header><h5>Creating alter egos</h5></header>
            <p>In SUPPORT -> SYSTEM to the left you will find the option CREATE ALIAS. It will allow you to create an alter ego, an alternative user name.</p>
            <p>Aliases are used in CHAT or FILES. It allows you to send messages as if you were another character.</p>
            <p>You will be able to choose to send chat messages with your usual user name or any of your aliases. You can swap and see your aliases in CHAT -> ALIASES to the left</p>
          </article>
          <article class="topArticle">
            <header><h5>Common files alter egos</h5></header>
            <p>In Support -> System to the left you will find the option CREATE FILES ALIAS. It will allow you to create an alternative user name.</p>
            <p>File aliases are used in FILES. You will have the option to create a document with your alternative user name instead of your ordinary one, as if you were another character.</p>
            <p>These type of aliases differ from the ones that are also available in CHAT. These ones can be created and used by all your team members. The other type is locked to just one user.</p>
            <p>You will have access to them in FILES -> ALIASES. You will have the option to click on any of them while creating a document (CREATE DOCUMENT). That name will be added to the document and it will look like it was the creator of it.</p>
          </article>
          <article class="topArticle">
            <header><h5>Expand the world map</h5></header>
            <p>You can take part in the expansion of the world map. All the positions that are on the map in the application are retrieved from <a href="https://www.google.com/maps/d/viewer?mid=1j97gNHqYj-6M10RbW9CGAVNxUV4&hl=en_US&ll=59.74696928544842%2C15.202936717214925&z=16" target=_blank>the shared map.</a></p>
            <p>You can gain access to the map by joining the <a href="https://www.facebook.com/groups/585709954945167/" target=_blank>Facebook group.</a> Any positions you add in the shared map will be available and visible in-game</p>
          </article>
        </section>
      </section>
    </section>
  </section>
  <script src="scripts/textFiles.js" charset="utf-8"></script>
</body>
</html>
