<!doctype html>
<html lang="en" id="html">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:url" content="https://thethirdgift.com/instructions" />
  <meta property="og:title" content="The Third Gift projects" />
  <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
  <link rel="stylesheet" type="text/css" href="styles/instructions.css"/>
  <title>The Third Gift Games</title>
</head>
<body>
<section id="main">
  <header><h1>Larp companion app</h1></header>
  <section>
    <header><h2>Creators</h2></header>
    <p>This system was created and is maintained by Aleksandar Jankovic as the main developer. It is a standalone project that organisers choose to incorporate into their event.</p>
    <p>You can find more information at <a href="https://www.patreon.com/yxeri" target="_blank">Patreon.</a> Any questions about the system should be sent to <span class="m">aleksonline@icloud.com</span>. Any questions about the event should be sent to its organisers.</p>
  </section>
  <section>
    <header><h2>User agreement</h2></header>
    <p>This document contains a code of conduct and boundaries for what and how the application can be used. By using the application you accept all rules and requirement defined on this page.</p>
    <p>This does not replace set boundaries by the organisers of the event. It complements them.</p>
    <p>Breaking any part of the conduct or rules will give you a warning and/or a temporary ban (for the current event) or a life-time ban.</p>
    <article class="topArticle">
      <header><h3>Terms used</h3></header>
      <ol>
        <li>Application: The web application that you connect to with your computer, phone tablet or other and use in-game.</li>
        <li>In-game: all types of interactions within the boundaries of the fiction as your character.</li>
        <li>Off-game: all types of interactions that is done outside of the fiction as yourself, also called “real world”.</li>
        <li>Device: any computer, phone, tablet or other that is used to access the application.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Code of conduct</h3></header>
      <ol>
        <li>Racism, sexism, transphobia, homophobia and any type of hate speech are strictly forbidden.</li>
        <li>Derogatory language and slurs in messages, topics or other type of text and/or audio content is strictly forbidden. This includes all languages.</li>
        <li>Harassment and spamming is strictly forbidden.</li>
        <li>Breaking any part of the code of conduct will get you a life-long ban from the application, in all events.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>In-game</h3></header>
      <ol>
        <li>Any text added to the application should be written in such a way that it fits in-game and with the assumption that other player characters might read it.</li>
        <li>The exception to the above are any organiser and/or game master off-game communication, invisible to other players. Send a e-mail to the address below if you need access to a off-game room.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Another player’s device</h3></header>
      <ol>
        <li>It is strictly forbidden to break and/or take someone else’s device.</li>
        <li>Any exceptions will be specified under Exceptions.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Position tracking</h3></header>
      <ol>
        <li>Position tracking is encouraged but not required. Turning it on will enrich your and other player’s experience.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Hacking</h3></header>
      <ol>
        <li>You may NOT steal and use another player’s login information (user name and password).</li>
        <li>Using another player’s session is NOT part of the game. If you find that another player forgot to log out, you will log out for them before using the application.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Bugs</h3></header>
      <ol>
        <li>Abusing bugs/exploits that is not part of the game and are not allowed to be used. This includes anything that works differently than described in the usage instructions.</li>
        <li>Report any bugs/exploits to the e-mail address below.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Privacy</h3></header>
      <ol>
        <li>Your e-mail address will be stored in your user and is used for password recovery and user verification. It might also be used by the organisers to identify you.</li>
        <li>All e-mail addresses will normally be deleted a maximum of 2 weeks after the end of the event.</li>
        <li>Position tracking saves only the latest position with a timestamp for your device. No position history is stored.</li>
        <li>All user positions will normally be deleted a maximum 2 week after the end of the event.</li>
        <li>All chat messages (to rooms or users) will be stored indefinitely and may be shared to the public.</li>
        <li>Any exception will be specified under Exceptions.</li>
      </ol>
    </article>
    <article class="topArticle">
      <header><h3>Exceptions</h3></header>
      <ol>
        <li>Any exceptions to the above will be given to you by the organiser of the event.</li>
      </ol>
    </article>
  </section>
  <section>
    <header><h2 class="hide">Requirements and preparation</h2></header>
    <p>You'll find information about supported systems, how to make the device feel more in-game and other preparation before the event</p>
    <section class="topSection">
      <header><h3>Svenska</h3></header>
      <p>Appen är menad att vara helt in-game (+ några verktyg för spelskapande) och ersätter operativsystemen på era datorer och/eller mobiler. Den kommer gå in i fullskärmsläge när ni använder den.</p>
      <p>OBS! Det kan uppstå problem i appen om ni tabbar ut/in till den. Ni kan då behöva ladda om appen.</p>
      <section class="topSection">
        <header><h4>Systemkrav</h4></header>
        <p>Ni når appen via en webbläsare.</p>
        <article class="topArticle">
          <header><h5>Windows</h5></header>
          <p>Webbläsare: Använd Chrome.</p>
          <p>Ni behöver använda en version som är nyare än Vista. Vista och XP får inte längre uppdateringar från Microsoft och appen stödjer inte de systemen.</p>
          <p>Ni behöver en mus eller touchpad för att kunna navigera i appen.</p>
        </article>
        <article class="topArticle">
          <header><h5>Linux</h5></header>
          <p>Webbläsare: Använd Chrome. Chromium borde också fungera.</p>
          <p>Ni behöver en mus eller touchpad för att kunna navigera i appen.</p>
        </article>
        <article class="topArticle">
          <header><h5>macOS/OS X</h5></header>
          <p>Webbläsare: Använd Chrome.</p>
          <p>Ni behöver en mus eller touchpad för att kunna navigera i appen.</p>
        </article>
        <article class="topArticle">
          <header><h5>Android</h5></header>
          <p>Webbläsare: Använd Chrome.</p>
          <p>Är Chrome inte tillgängligt i din telefon/tablet? Då finns det risk att appen inte fungerar på er enhet.</p>
        </article>
        <article class="topArticle">
          <header><h5>iOS (iPhone/iPad)</h5></header>
          <p>Webbläsare: Använd Safari.</p>
          <p>Är Chrome inte tillgängligt i din telefon/tablet? Då finns det risk att appen inte fungerar på er enhet.</p>
          <p>Det är troligt att appen inte fungerar på en iPhone 4 (iOS 7.* eller äldre) eller äldre enheter.</p>
        </article>
      </section>
      <section class="topSection">
        <header><h4>Förberedelser inför användning in-game</h4></header>
        <article class="topArticle">
          <header><h5>Windows</h5></header>
          <p>Klicka på valfri plats i siten. Appen borde automatiskt gå in i fullskärmsläge.</p>
          <p>Det är starkt rekommenderat att slå av eller ta bort dessa knappar från tangentbordet: Windows, ctrl, esc. Det gör det svårare att av misstag råka lämna fullskärmsläget.</p>
        </article>
        <article class="topArticle">
          <header><h5>Linux</h5></header>
          <p>Klicka på valfri plats i siten. Appen borde automatiskt gå in i fullskärmsläge.</p>
          <p>Det är starkt rekommenderat att slå av eller ta bort dessa knappar från tangentbordet: Windows, ctrl, esc. Det gör det svårare att av misstag råka lämna fullskärmsläget.</p>
        </article>
        <article class="topArticle">
          <header><h5>macOS/OS X</h5></header>
          <p>Klicka på valfri plats i siten. Appen borde automatiskt gå in i fullskärmsläge.</p>
          <p>Det är starkt rekommenderat att slå av eller ta bort dessa knappar från tangentbordet: esc. Det gör det svårare att av misstag råka lämna fullskärmsläget.</p>
        </article>
        <article class="topArticle">
          <header><h5>Android</h5></header>
          <p>Klicka på valfri plats i siten. Appen borde automatiskt gå in i fullskärmsläge.</p>
          <section>
            <header><h6>Screen Pinning</h6></header>
            <p>Det är rekommenderat att aktivera “Screen Pinning.” Det gör att er telefon/tablet är låst till endast en app, i detta fall webbläsaren, och att resten av systemet inte kan nås. Det ser även till att ni alltid hamnar i appen när ni låser upp er enhet.</p>
            <p>Stegen för att slå på Screen Pinning kan variera beroende på telefon och/eller Android-version. Något av de 2 följande sätt bör fungera på er enhet</p>
            <section>
              <header><h7>Alternativ 1</h7></header>
              <ol>
                <li>Gå till Settings -> Security -> Screen Pinning.</li>
                <li>Slå på screen pinning. Det är även rekommenderat att slå på låsning av din mobil/tablet när ni unpinnar appen. Det gör att andra inte kan stänga av appen och komma åt resten av systemet.</li>
                <li>Öppna appen i Chrome.</li>
                <li>Dubbelklicka på home-knappen.</li>
                <li>Scrolla ner. Ni borde nu se en pin-knapp nere till höger. Klicka på den.</li>
                <li>Chrome borde nu vara pinnad! Ni kan nu, om ni vill, så av automatiskt låsning av mobilen när skärmen slås av. Då kan ni snabbare komma in appen och få det att kännas mer in-game.</li>
              </ol>
              <p>Ni kan unpinna appen genom att hålla ner power- och back-knapparna. OBS! Ni måste trycka ner power-knappen precis innan back-knappen</p>
            </section>
            <section>
              <header><h7>Alternativ 2</h7></header>
              <ol>
                <li>Följ steg 1-3 ovan.</li>
                <li>Följ instruktionerna på <a href="https://support.google.com/nexus/answer/6118421?hl=en" target="_blank">denna sida</a> under “Ping a screen.”</li>
              </ol>
              <p>På samma sida har ni även instruktioner på hur ni unpinnar appen, under “Unpin a screen.”</p>
            </section>
          </section>
        </article>
        <article class="topArticle">
          <header><h5>iOS (iPhone/iPad)</h5></header>
          <section>
            <header><h6>Fullskärmsläge</h6></header>
            <p>För att få appen att gå in i fullskärmsläge kräver ett par extrasteg.</p>
            <ol>
              <li>Gå till siten i Safari.</li>
              <li>Klicka på knappen som ser ut som en fyrkant med en pil ovanför på botten av skärmen.</li>
              <li>Välj “Add to Home Screen.” Nu borde ni ha en genväg till appen i er hemvy.</li>
              <li>Ni kan nu använde genvägen för att öppna appen in-game!</li>
            </ol>
          </section>
          <section>
            <header><h6>Guided Access</h6></header>
            <p>Det är rekommenderat att ni slår på “Guided Access.”</p>
            <p>Det gör att er telefon/tablet är låst till endast en app, i detta fall appen, och att resten av systemet inte kan nås. Det ser även till att ni alltid hamnar i appen när ni låser upp er enhet.</p>
            <ol>
              <li>Gå till Settings -> General -> Accessibility -> Guided Access.</li>
              <li>Slå på Guided Access. Det är rekommenderat att sätta en passcode för att försäkra er om att andra inte kan nå resten av systemet.</li>
              <li>Öppna genvägen ni skapade för appen i er hemvy</li>
              <li>Klicka på hemknappen (hårdvaruknappen på botten) 3 gånger. Det borde ger er alternativet att slå på Guided Access. Nere till höger hittar ni Options. Det är en bra idé att välja att power-knappen kan användas.</li>
            </ol>
            <p>Ni går ut ur Guided Access genom att klicka på hemknappen 3 gånger</p>
          </section>
        </article>
      </section>
    </section>
    <section class="topSection">
      <header><h3>English</h3></header>
      <p>The app is meant to be in-game and to replace the operating system on your computers and /or phones. It will go into fullscreen when you use it.</p>
      <p>NOTE! The app might run into problems if you tab in/out of it. You might have to refresh the site to solve any problems.</p>
      <section class="topSection">
        <header><h4>System Requirements</h4></header>
        <p>You will reach the app through a browser. You’ll find more details for the different systems below.</p>
        <article class="topArticle">
          <header><h5>Windows</h5></header>
          <p>Browser: Use Chrome.</p>
          <p>You will need a version that is newer than Vista. XP and Vista is no longer supported by Microsoft and they are not supported by the app.</p>
          <p>You will also need a touchpad/mouse to be able to navigate in the app.</p>
        </article>
        <article class="topArticle">
          <header><h5>Linux</h5></header>
          <p>Browser: Chrome. Chromium should work too.</p>
          <p>You will also need a touchpad/mouse to be able to navigate in the app.</p>
        </article>
        <article class="topArticle">
          <header><h5>macOS/OS X</h5></header>
          <p>Browser: Chrome.</p>
          <p>You will also need a touchpad/mouse to be able to navigate in the app.</p>
        </article>
        <article class="topArticle">
          <header><h5>Android</h5></header>
          <p>Browser: Chrome.</p>
          <p>Is Chrome unavailable for your phone/tablet? It is likely that the app won’t work on your device.</p>
        </article>
        <article class="topArticle">
          <header><h5>iOS (iPhone/iPad)</h5></header>
          <p>Browser: Safari</p>
          <p>It is likely that the app won’t work on an iPhone 4 (iOS 7.* or older) or older.</p>
        </article>
      </section>
      <section class="topSection">
        <header><h4>Preparations before in-game usage</h4></header>
        <article class="topArticle">
          <header><h5>Windows</h5></header>
          <p>Clicking anywhere in the site should make the app go into fullscreen.</p>
          <p>It is highly recommended to disable or remove these button from the keyboard: Windows, ctrl, esc. That will make it harder to accidentally leave fullscreen mode.</p>
        </article>
        <article class="topArticle">
          <header><h5>Linux</h5></header>
          <p>Clicking anywhere in the site should make the app go into fullscreen.</p>
          <p>It is highly recommended to disable or remove these button from the keyboard: Windows, ctrl, esc. That will make it harder to accidentally leave fullscreen mode.</p>
        </article>
        <article class="topArticle">
          <header><h5>macOS/OS X</h5></header>
          <p>Clicking anywhere in the site should make the app go into fullscreen.</p>
          <p>It is highly recommended to disable or remove these button from the keyboard: esc. That will make it harder to accidentally leave fullscreen mode.</p>
        </article>
        <article class="topArticle">
          <header><h5>Android</h5></header>
          <p>Touching anywhere in the site should make the app go into fullscreen.</p>
          <section>
            <header><h6>Screen Pinning</h6></header>
            <p>It is recommended to activate “Screen Pinning.” This locks your phone/tablet to a single app, in this case the browser. It will allow you to always you go to the app whenever you unlock your device.</p>
            <p>The steps may vary depending on your phone and/or Android version. One of the following 2 should work</p>
            <section>
              <header><h7>Option 1</h7></header>
              <ol>
                <li>Go to Settings -> Security -> Screen Pinning.</li>
                <li>Turn on screen pinning. It is recommended to turn on the option to lock device when unpinning, to make sure that the app can’t be closed down by others or accidentally by you.</li>
                <li>Visit the app in Chrome.</li>
                <li>Double-click the Home button.</li>
                <li>Scroll down. There should be a pin button on the bottom right. Click it.</li>
                <li>Chrome has now been pinned! You can remove unlocking of your phone before this step, if you want to make it easier and feel more in-game when you open your phone/tablet. </li>
              </ol>
              <p>You can unpin the app by holding down the power and back buttons. Note! You should press down on the power button right before back.</p>
            </section>
            <section>
              <header><h7>Option 2</h7></header>
              <ol>
                <li>Follow steps 1-3 above.</li>
                <li>Follow the instructions at <a href="https://support.google.com/nexus/answer/6118421?hl=en" target="_blank">this page</a> under “Ping a screen.”</li>
              </ol>
              <p>The same site also explains how to unpin the app under “Unpin a screen”.</p>
            </section>
          </section>
        </article>
        <article class="topArticle">
          <header><h5>iOS (iPhone/iPad)</h5></header>
          <section>
            <header><h6>Fullscreen</h6></header>
            <p>Making the site go into fullscreen requires a couple of steps</p>
            <ol>
              <li>Go to the app in Safari.</li>
              <li>Touch the button on the bottom that looks like a square with an arrow above.</li>
              <li>Choose “Add to Home Screen” This will add a shortcut to the app on your home screen.</li>
              <li>Done! Use the shortcut to open and use the app in-game.</li>
            </ol>
          </section>
          <section>
            <header><h6>Guided Access</h6></header>
            <p>It is recommended to activate "Guided Access."</p>
            <p>This will lock your phone/tablet to a single app. It will allow you to always make sure that you go to the app when you unlock your device and to make sure that the app can’t be closed down by others.</p>
            <ol>
              <li>Go to Settings -> General -> Accessibility -> Guided Access.</li>
              <li>Turn on Guided Access. It is recommended to set a passcode, to make sure that the app can’t be closed down by others.</li>
              <li>Open the home screen shortcut you made for the app.</li>
              <li>4. Press the Home button (the physical button on the bottom) 3 times. This should give you the option to start guided access. You will also find Options on the bottom left. It is a good idea to turn on the usage of the power button. Touch start and you are good to go!</li>
            </ol>
            <p>You can leave guided access mode by pressing the home button 3 times.</p>
          </section>
        </article>
      </section>
    </section>
  </section>
</section>
<script src="scripts/instructions.js" charset="utf-8"></script>
</body>
</html>
