<!doctype html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:url" content="https://thethirdgift.com/instructions" />
  <meta property="og:title" content="The Third Gift projects" />
  <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
  <link rel="stylesheet" type="text/css" href="styles/textFiles.css"/>
  <title>The Third Gift Games</title>
</head>
<body>
  <section id="main">
    <header><h1>Instructions [TTGG]</h1></header>
    <section>
      <header><h2>Creators</h2></header>
      <p>This system was created and is maintained by Aleksandar Jankovic as the main developer. It is a standalone project that organisers choose to incorporate into their event.</p>
      <p>You can find more information at <a href="https://www.patreon.com/yxeri" target="_blank">Patreon.</a> Any questions about the system should be sent to <span class="m">aleksonline@icloud.com</span>. Any questions about the event should be sent to its organisers.</p>
    </section>
    <section>
      <header><h2 class="hide">Usage instructions</h2></header>
      <p>You'll find information on how to use the application below. Are you bringing your own computer/laptop/phone? You should also read up on <a href="https://thethirdgift.com/preparation.html" target="_blank">requirements and preparation</a></p>
      <section class="topSection">
        <header><h3>Svenska</h3></header>
        <p>Nedan kan ni läsa om hur ni användare de olika delarna i applikationen. The Super Quick Guide är en bra start för nybörjare.</p>
        <section class="topSection">
          <header><h4>The Super Quick Guide AKA "Appen verkar komplicerad. Ge mig en snabb genomgång"</h4></header>
          <p>Den första sidan ni kommer till är HOME. Den har flertalet knappar som leder till andra vyer</p>
          <p>På toppen av sidan ser ni en rad med information, som t.ex dagens datum in-game. Om ni klickar på den raden så kan ni komma tillbaka till HOME från andra vyer.</p>
          <article class="topArticle">
            <header><h5>Läsa meddelanden</h5></header>
            <p>Klicka på CHAT. Ni borde nu se alla meddelanden som skickats till det publika chatrummet.</p>
            <p>Ni kommer behöva registrera en användare om ni vill skicka eller läsa meddelanden från andra chatrum.</p>
          </article>
          <article class="topArticle">
            <header><h5>Läsa dokument</h5></header>
            <p>Klicka på FILES. Ni borde nu se två knappar på vänstra sidan</p>
            <p>Om ni klickar på SYSTEM så kommer ni se det nya alternativet ID SEARCH. Den tillåter er att skriva in ett dokument-ID (kod) och låsa upp och läsa ett dokument.</p>
            <p>Om ni klickar på DIRECTORY som kommer den expandera och visa USERS och TEAMS. Om ni klickar på någon av dem så kommer team- och användarnamn listas. Om ni klickar på någon av dem så kommer ni se en lista med deras dokument</p>
            <p>Knapparna som är gråade är låsta och kräver korrekt ID för att låsas upp. Resten är publika dokument som ni kan läsa utan ID.</p>
          </article>
          <article class="topArticle">
            <header><h5>Hitta i världen</h5></header>
            <p>Om ni klickar på MAPS så kommer ni se en karta. Ni kommer även se en meny på toppen med LOCAL, WORLD, USER och ME</p>
            <p>LOCAL kommer visa er lista med positioner som är inom spelområdet. Om ni klickar på något av dem så kommer kartan zooma in på positionen</p>
            <p>WORLD kommer visa er lista med med positioner som är utanför spelområdet. Om ni klickar på något av dem så kommer kartan zooma in på positionen</p>
            <p>ME zoomar in på din position. Den kommer inte zooma in om appen inte lyckades hämta er position.</p>
          </article>
          <article class="topArticle">
            <header><h5>Se hur det går med wreckingen</h5></header>
            <p>När en wreckingrunda är igång så kommer ni se en färgad knapp i toppmenyn som heter WRECKING.</p>
            <p>Om ni klickar på den så kommer ni se en ny ruta. I den vänstra delen visas alla stationer. Varje station består av ett namn, hur mycket poäng ägaren av stationen får och vem som äger stationen).</p>
            <p>En blinkade station indikerar att den stationen håller på att tas över av ett annat team.</p>
            <p>Till höger ser ni vilka team som är med i wreckingen och hur många poäng de har totalt.</p>
          </article>
          <article class="topArticle">
            <header><h5>Off-gamey stuff</h5></header>
            <p>Om ni klickar på SUPPORT så kommer ni se ett par olika saker.</p>
            <p>På högra sidan ser ni RUMOURS. Rumours är rykten som skapats off-game med syftet att skapa mer spel.</p>
            <p>På vänstra sidan ser ni en lista med knappar med information om hur delar av appen fungerar. Ni måste registrera en användare för att använda de flesta av funktionerna som beskrivs där.</p>
          </article>
          <article class="topArticle">
            <header><h5>Åtkomst till allt annat</h5></header>
            <p>Några av funktionerna som är tillgängliga i appen är: Hacking, tjäna virtual caps genom att slutföra uppdrag eller stjäla loot codes, skicka och läsa meddelanden till andra chatrum eller användare, skapa egna dokument och skapa rykten.</p>
            <p>Ni måste registrera en användare för att få tillgång till dem.</p>
          </article>
        </section>
      </section>
      <section class="topSection">
        <header><h3>English</h3></header>
        <p>Below you'll find instructions on how to use the different parts of the application. The Super Quick Guide is a good start for beginners.</p>
        <section class="topSection">
          <header><h4>The Super Quick Guide AKA "The app seems complicated. Show me the basics"</h4></header>
          <p>The first page you’ll see is HOME and it has several buttons that you can click that lead to other views.</p>
          <p>On the top you’ll also see a row with information, such as the current in-game date. Clicking on the top row will send you back to HOME when you are in another view.</p>
          <article class="topArticle">
            <header><h5>Reading messages</h5></header>
            <p>Click on CHAT. You should now see all messages that has been sent to the public chat room.</p>
            <p>You will have to register a user to send or read messages from other chat rooms.</p>
          </article>
          <article class="topArticle">
            <header><h5>Reading documents</h5></header>
            <p>Click on FILES. You should now see two new buttons to the left.</p>
            <p>Clicking on SYSTEM will show you a new button called ID SEARCH. You can enter a document ID (code) to unlock and read documents.</p>
            <p>Clicking on DIRECTORY will expand it and show you USERS and TEAMS. Clicking on any of them will show you a list of team or user names. Clicking on any TEAM or USER will show you a list of the documents that they have created.</p>
            <p>The buttons that are greyed out require that you enter the correct document ID when you click on them. The rest are public documents that you can open without an ID.</p>
          </article>
          <article class="topArticle">
            <header><h5>Find your way around the world</h5></header>
            <p>Clicking on MAPS will show you a map. You will also see a menu on the top with LOCAL, WORLD, USER, ME.</p>
            <p>LOCAL will show you a list of choices with locations that are within the game area. Clicking on any of them will zoom in on that position.</p>
            <p>WORLD will show you a list of choices with locations that are outside of the game area. Clicking on any of them will zoom in on that position.</p>
            <p>ME will zoom in on your location. It won’t zoom in if the app was unable to find your position.</p>
          </article>
          <article class="topArticle">
            <header><h5>Checking the status on the wrecking</h5></header>
            <p>You will see a colored button in the top with the name WRECKING when a wrecking round is in progress.</p>
            <p>If you click on it, you will see a new window. Available stations are shown on the left side. Each station contains a name, how many points the owner of the station get and its current owner.</p>
            <p>A blinking station indicates that it is being taken over by another team.</p>
            <p>On the right side is a list of wrecking teams and their total amount of points.</p>
          </article>
          <article class="topArticle">
            <header><h5>Off-gamey stuff</h5></header>
            <p>Clicking on SUPPORT will show you several different items.</p>
            <p>To the right you’ll see RUMOURS. This is a list of off-gamey rumours that other players have added to create more play.</p>
            <p>To the left is a list of buttons with helpful information about what you can do in the different parts of the system. You will have to register a user to use most of the features described.</p>
          </article>
          <article class="topArticle">
            <header><h5>Accessing everything else</h5></header>
            <p>Some of the things you can do in the application are: Hacking, earning virtual caps by completing missions or stealing loot codes, sending messages to chat rooms and other characters, creating your own documents and adding rumours</p>
            <p>You will need to register a user to access them.</p>
          </article>
        </section>
      </section>
    </section>
  </section>
  <script src="scripts/textFiles.js" charset="utf-8"></script>
</body>
</html>
