<!doctype html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:url" content="https://thethirdgift.com" />
  <meta property="og:title" content="The Third Gift projects" />
  <meta property="og:description" content="Creating tools and games for all your roleplaying needs" />
  <link rel="stylesheet" type="text/css" href="styles/sjon.css"/>
  <title>The Third Gift Games</title>
</head>
<body>
<div id="main">
  <h1>Den officiella listan över saker som inte hör hemma på land och borde kastas i sjön:</h1>
  <ul>
    <li>Sunk</li>
    <li>Laktris</li>
    <li>Fisk</li>
    <li>Kräftdjur</li>
    <li>Basshunter</li>
    <li>Fisklasange</li>
    <li>Fisk-tacos</li>
    <li>Maträtter innehållande fisk, då fisk hör hemma i sjön</li>
    <li>Bilder på glada personer som äter fisk</li>
    <li>Suicide Squad</li>
    <li>Google Map API</li>
    <li>Alla tillverkare som inte uppdaterar Android-versionerna på sina produkter</li>
    <li>Proteinbars med coca cola-smak</li>
    <li>Företag som inte kan skapa sidor anpassade för webbläsare</li>
    <li>Personer som super och sedan ser sig själva som roliga komiker</li>
    <li>Ord som uttalas på två olika sätt utan förändring i stavning</li>
    <li>Tinnitus dubstep</li>
    <li>Skrikande barn</li>
    <li>Laktos</li>
    <li>Sura gamlingar (ink. gamlingen som underhåller denna listan. Fuck that guy)</li>
  </ul>
  <span id="credits">Underhålls av den arga, bittra och cyniska gubben i grottan. Uppdaterades 25 Sep 2017.</span>
</div>
</body>
</html>
