<!doctype html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:url" content="https://thethirdgift.com/sjon" />
  <meta property="og:title" content="Saker i sjön." />
  <meta property="og:description" content="Den officiella listan över saker som inte hör hemma på land och borde kastas i sjön." />
  <link rel="stylesheet" type="text/css" href="styles/sjon.css"/>
  <title>Den officiella listan över saker som inte hör hemma på land och borde kastas i sjön.</title>
</head>
<body>
<div id="main">
  <h1>Den officiella listan över saker som inte hör hemma på land och borde kastas i sjön:</h1>
  <ul>
    <li>Sunk.</li>
    <li>Lakrits.</li>
    <li>Fisk.</li>
    <li>Kräftdjur.</li>
    <li>Rysk ubåt i Östersjön som jagar segelbåtar.</li>
    <li>Fisklasange.</li>
    <li>Fisk-tacos.</li>
    <li>Maträtt innehållandes fisk, då fisk hör hemma i sjön.</li>
    <li>Bild på glada personer som äter fisk.</li>
    <li>Suicide Squad.</li>
    <li>"Är det inte bara att...?"</li>
    <li>Proteinbar med coca cola-smak.</li>
    <li>Företag som inte kan skapa sidor anpassade för webbläsare.</li>
    <li>Ord som uttalas på två olika sätt utan förändring i stavning.</li>
    <li>Person som rättar en med användandet av ett ord (t.ex homografer) som används sällan.</li>
    <li>Person som rättar syftningsfel i ens lista över saker som hör hemma i sjön.</li>
    <li>"Man kan väl bara...?"</li>
    <li>Suicide Squads Oscar.</li>
    <li>Google Maps API.</li>
    <li>Laktos.</li>
    <li>Gamling (ink. gamlingen som underhåller denna listan).</li>
    <li>Automatiserad röst som tackar för ens tålamod om och om igen och förklarar hur viktigt ens samtal är åt dem i en två timmar lång telefonkö.</li>
    <li>"Hur svårt kan det vara?"</li>
    <li>E-mail.</li>
    <li>Jared Leto.</li>
  </ul>
  <span id="credits">Underhålls av den arga, bittra och cyniska gubben i grottan. Uppdaterades 28 Dec 2017.</span>
</div>
</body>
</html>
